<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/burger-menu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="../image/logo.png" alt="">
        

        <div class="burger-btn mobile-only" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="desktop-only">
            <button onclick="window.location.href='index.html'">На главную</button>
        </div>
        

        <div class="mobile-menu" id="mobileMenu">
            <div class="mobile-menu-content">
                <a href="../index.html" onclick="closeMobileMenu()">Главная</a>
                <a href="about.html" onclick="closeMobileMenu()">О нас</a>
                <a href="contacts.html" onclick="closeMobileMenu()">Контакты</a>
                <a href="login.html" onclick="closeMobileMenu()">Вход</a>
            </div>
        </div>
    </div>
    <div class="conteiner">

        <div class="text">
            <h1>О компании</h1>
            <p>Наша платформа StaffVoice создана для того, чтобы каждый сотрудник мог вносить свой вклад в развитие <br> компании. Мы
                верим, что лучшие идеи рождаются внутри команды, и именно сотрудники знают, какие <br> изменения сделают рабочую среду
                комфортнее и эффективнее.
            </p>
            <h1>Наша миссия</h1>
            <p>Мы стремимся создать открытую и прозрачную систему взаимодействия между сотрудниками и <br> руководством, где каждый голос
                услышан, а ценное предложение может быть реализовано.
            </p>
            <h1>Наши ценности</h1>
            <div class="spisok">
                <ul>
                    <li>Простота – интерфейс и процесс подачи идей интуитивно понятны.</li>
                    <li>Прозрачность – каждый сотрудник видит статус своей идеи и ход её рассмотрения.</li>
                    <li>Полезность – предложения внедряются на практике и приносят реальную пользу.</li>
                    <li>Сотрудничество – мы создаём культуру доверия, поддержки и совместного развития.</li>
                    <li>Инновации – ценим креативные подходы и стремимся внедрять новые решения.</li>
                </ul>
            </div>

            <h1>Наша команда</h1>
            <p>Мы – команда энтузиастов, объединённых общей целью: сделать рабочую <br> среду дружелюбнее, продуктивнее и современнее. <br>
                Наши специалисты в области IT, HR и управления проектами работают <br> вместе, чтобы превратить идеи сотрудников в
                реальные изменения.
            </p>
        </div>
    </div>
    
    <script src="../js/burger-menu.js"></script>
</body>
</html>